<h2>Journal</h2>
<fieldset>
    <legend>Buchung</legend>
    <p id="buchfeld">
        Datum: <input type="text" ng-model="eingDatum">
        Belegnr.: <input type="number" ng-model="eingBelegnr">
        Buchungstext: <input type="text" ng-model="eingBuchungstxt"><br>
        Konto Soll: 
        <select ng-model="eingKontoSoll">
            <option ng-repeat="k in konten" value="{{k.nr}}">{{k.nr}}, {{k.name}}</option>
        </select>
        Konto Haben: 
        <select ng-model="eingKontoHaben">
            <option ng-repeat="k in konten" value="{{k.nr}}">{{k.nr}}, {{k.name}}</option>
        </select><br>
        Betrag CHF: <input type="number" ng-model="eingBetrag">
        <button ng-click="speichern()">{{buttonTxt}}</button>
    </p>
</fieldset>
<section id="tab">
    <table>
        <tr>
            <th>Buchungsnr</th>
            <th>Datum</th>
            <th>Belegnr</th>
            <th>Buchungstext</th>
            <th>Konto Soll</th>
            <th>Konto Haben</th>
            <th>Betrag</th>
        </tr>
        <tr ng-repeat="b in journal">
            <td class="centerAlign">{{b.nr}}</td>
            <td>{{b.datum}}</td>
            <td class="centerAlign">{{b.belegnr}}</td>
            <td>{{b.buchungstxt}}</td>
            <td class="rightAlign">{{b.kontoSoll}}</td>
            <td class="rightAlign">{{b.kontoHaben}}</td>
            <td class="rightAlign">{{b.betrag}}</td>
            <td><button ng-click="loeschen(b)">Löschen</button></td>
            <td><button ng-click="bearbeiten(b)">Bearbeiten</button></td>
            <td><button ng-click="kopieren(b)">Kopieren</button></td>
        </tr>
    </table>
</section>