<h2>Journal</h2>
<fieldset>
    <legend>Buchung</legend>
    <p id="buchfeld">
        Datum: <input type="text" ng-model="input.datum">
        Belegnr.: <input type="number" ng-model="input.belegnr">
        Buchungstext: <input type="text" ng-model="input.buchungstxt"><br>
        Konto Soll: 
        <select ng-model="input.kontoSoll">
            <option ng-repeat="k in buch.kontenplan.konten" value="{{k.nr}}">{{k.nr}}, {{k.name}}</option>
        </select>
        Konto Haben: 
        <select ng-model="input.kontoHaben">
            <option ng-repeat="k in buch.kontenplan.konten" value="{{k.nr}}">{{k.nr}}, {{k.name}}</option>
        </select><br>
        Betrag CHF: <input type="number" ng-model="input.betrag">
        <button ng-click="speichern('buchung')">{{buttonTxt}}</button>
    </p>
</fieldset>

<fieldset>
    <legend>csv Import</legend>
    <ng-csv-import content="csv.content"
                                header="csv.header" 
                                separator="csv.separator"
                                result="csv.result"
                                accept="csv.accept"></ng-csv-import><br>
    <button ng-click="csvImport('journal')">csv Import</button>
</fieldset>

<fieldset>
    <legend>Export</legend>
    <button ng-csv='csvExport("journal")' filename='{{buch.journal.name}}.csv'
            csv-header='["Buchungsnummer","Datum","Belegnummer","Buchungstext","Konto Soll","Konto Haben","Betrag"]'>csv Export</button>
</fieldset>
<section id="tab">
    <table>
        <tr>
            <th>Buchungsnr</th>
            <th>Datum</th>
            <th>Belegnr</th>
            <th>Buchungstext</th>
            <th>Konto Soll</th>
            <th>Konto Haben</th>
            <th>Betrag</th>
        </tr>
        <tr ng-repeat="b in buch.journal.journal">
            <td class="centerAlign">{{b.nr}}</td>
            <td>{{b.datum}}</td>
            <td class="centerAlign">{{b.belegnr}}</td>
            <td>{{b.buchungstxt}}</td>
            <td class="rightAlign">{{b.kontoSoll}}</td>
            <td class="rightAlign">{{b.kontoHaben}}</td>
            <td class="rightAlign">{{b.betrag}}</td>
            <td><button ng-click="loeschen('buchung', b)">Löschen</button></td>
            <td><button ng-click="bearbeiten(b)">Bearbeiten</button></td>
            <td><button ng-click="kopieren(b)">Kopieren</button></td>
        </tr>
    </table>
</section>