<h2>Kontenblatt</h2>
<fieldset>
    <legend>Konto auswählen</legend>
    <select ng-model="input.kontoAnz">
            <option ng-repeat="k in buch.kontenplan.konten" value="{{k.nr}}">{{k.nr}}, {{k.name}}</option>
    </select>
    <button ng-click="kbAnzeigen(input.kontoAnz)">Anzeigen</button>
</fieldset>

<section>
    <table>
        <tr>
            <th></th>
            <th>Soll</th>
            <th>Haben</th>
            <th>Saldo</th>
        </tr>
        <tr ng-repeat="e in kontenblatt">
            <td>{{e.b.nr==0?e.b.buchungstxt:(e.b.datum+": "+e.b.buchungstxt)}}</td>
            <td>{{e.t=="soll"?e.b.betrag:''}}</td>
            <td>{{e.t=="haben"?e.b.betrag:''}}</td>
            <td>{{e.b.buchungstxt=="Saldo"?"":e.s}}</th>
        </tr>
    </table>
</section>

<fieldset>
    <legend>Export</legend>
    <button ng-csv='csvExport("kontenblatt")' 
            filename='{{buch.kontenplan.kVonKnr(input.kontoAnz).nr + "_" + buch.kontenplan.kVonKnr(input.kontoAnz).name}}.csv'
            csv-header='["Datum","Buchungstext","Soll","Haben","Saldo"]'>csv Export</button>
</fieldset>