<section>
    <h2>Kontenplan</h2>
    
    <fieldset>
        <legend>Kontomaske</legend>
        Kontonummer: <input type="number" ng-model="input.nr">
        Kontoname.: <input type="text" ng-model="input.name">
        Eröffnungssaldo: <input type="number" ng-model="input.eroeffnungssaldo"><br>
        <button ng-click="speichern('konto')">{{buttonTxt}}</button>
    </fieldset>
    
    <fieldset>
        <legend>csv Import</legend>
        <ng-csv-import content="csv.content"
                                header="csv.header" 
                                separator="csv.separator"
                                result="csv.result"
                                accept="csv.accept"></ng-csv-import><br>
        <button ng-click="csvImport('kontenplan')">csv Import</button>
    </fieldset>
    
    <fieldset>
    <legend>Export</legend>
    <button ng-csv='csvExport("kontenplan")' filename='{{buch.kontenplan.name}}.csv' csv-header='["Kontonummer","Kontoname","Eröffnungssaldo","Saldo"]'>csv Export</button>
    </fieldset>

    <div>
        <h3>Aktiven</h3>
        <table>
            <tr>
                <th>Kontonummer</th>
                <th>Kontoname</th>
                <th>Eröffnungssaldo</th>
                <th>Saldo</th>
            </tr>
            <tr ng-repeat="k in buch.kontenplan.aktiva()">
                <td class="centerAlign">{{k.nr}}</td>
                <td>{{k.name}}</td>
                <td class="rightAlign">{{k.eroeffnungssaldo}}</td>
                <td class="rightAlign">{{k.saldo}}</td>
                <td><button ng-click="loeschen('konto', k)">Löschen</button></td>
                <td><button ng-click="bearbeiten(k)">Bearbeiten</button></td>
                <td><button ng-click="kopieren(k)">Kopieren</button></td>
            </tr>
        </table>
    </div>
    
    <div>
        <h3>Passiven</h3>
        <table>
            <tr>
                <th>Kontonummer</th>
                <th>Kontoname</th>
                <th>Eröffnungssaldo</th>
                <th>Saldo</th>
            </tr>
            <tr ng-repeat="k in buch.kontenplan.passiva()">
                <td class="centerAlign">{{k.nr}}</td>
                <td>{{k.name}}</td>
                <td class="rightAlign">{{k.eroeffnungssaldo}}</td>
                <td class="rightAlign">{{k.saldo}}</td>
                <td><button ng-click="loeschen('konto', k)">Löschen</button></td>
                <td><button ng-click="bearbeiten(k)">Bearbeiten</button></td>
                <td><button ng-click="kopieren(k)">Kopieren</button></td>
            </tr>
        </table>
    </div>
    
    <div>
        <h3>Ertrag</h3>
        <table>
            <tr>
                <th>Kontonummer</th>
                <th>Kontoname</th>
                <th>Eröffnungssaldo</th>
                <th>Saldo</th>
            </tr>
            <tr ng-repeat="k in buch.kontenplan.ertragskonten()">
                <td class="centerAlign">{{k.nr}}</td>
                <td>{{k.name}}</td>
                <td class="rightAlign">{{k.eroeffnungssaldo}}</td>
                <td class="rightAlign">{{k.saldo}}</td>
                <td><button ng-click="loeschen('konto', k)">Löschen</button></td>
                <td><button ng-click="bearbeiten(k)">Bearbeiten</button></td>
                <td><button ng-click="kopieren(k)">Kopieren</button></td>
            </tr>
        </table>
    </div>
    
    <div>
        <h3>Aufwand</h3>
        <table>
            <tr>
                <th>Kontonummer</th>
                <th>Kontoname</th>
                <th>Eröffnungssaldo</th>
                <th>Saldo</th>
            </tr>
            <tr ng-repeat="k in buch.kontenplan.aufwandskonten()">
                <td class="centerAlign">{{k.nr}}</td>
                <td>{{k.name}}</td>
                <td class="rightAlign">{{k.eroeffnungssaldo}}</td>
                <td class="rightAlign">{{k.saldo}}</td>
                <td><button ng-click="loeschen('konto', k)">Löschen</button></td>
                <td><button ng-click="bearbeiten(k)">Bearbeiten</button></td>
                <td><button ng-click="kopieren(k)">Kopieren</button></td>
            </tr>
        </table>
    </div>
</section>