<h2>Kontenblatt</h2>
<fieldset>
    <legend>Konto auswählen</legend>
    <select ng-model="eingKontoAnz">
            <option ng-repeat="k in konten.konten" value="{{k.nr}}">{{k.nr}}, {{k.name}}</option>
    </select>
    <button ng-click="kbAnzeigen(eingKontoAnz)">Anzeigen</button>
</fieldset>

<section>
    <table>
        <tr>
            <th></th>
            <th>Soll</th>
            <th>Haben</th>
            <th>Saldo</th>
        </tr>
        <tr ng-repeat="e in kontenblatt">
            <td>{{e.t==""?"Eröffnung":(e.b.datum+": "+e.b.buchungstxt)}}</td>
            <td>{{e.t==""?0:(e.t=="soll"?e.b.betrag:0)}}</td>
            <td>{{e.t==""?0:(e.t=="haben"?e.b.betrag:0)}}</td>
            <td>{{e.b.datum=="Saldo"?"":e.s}}</th>
        </tr>
    </table>
</section>