body {
    font-family:        Verdana, Helvetia, Arial, sans-serif;
    font-size:          small;
    width:              800px;
    border:             thin black solid;
    padding:            20px;
    margin-left:        auto;
    margin-right:       auto;
}

h1 {
    color:      blue;
    font-size:  150%;
}

h2 {
    color:      blue;
    font-size:  130%;
}

h3 {
    color:      blue;
    font-size:  110%;
}

nav {
    border:     thin solid #cccccc;
}

nav ul{
    margin:     0px;
    padding:    5px 0px 5px 0px;
}

nav ul li{
    display: inline;
    padding: 5px 10px 5px 10px;
}

nav ul li a:link, nav ul li a:visited{
    border-bottom:      none;
    color:              black;
    font-weight:        bold;
}

button {
    background-color:   #cccccc;
}

fieldset{
    margin-bottom: 20px;
}

table {
    border-collapse:    collapse;
}

th, td {
    border:     thin solid black;
    padding:    3px;
}

th {
    border:     2px solid black;
}

.rightAlign {
    text-align: right;
}

.centerAlign {
    text-align: center;
}

table td:nth-child(even), table th:nth-child(even) {
    background-color:   #dddddd;
}